.current
	margin-bottom: 87px
	@include media-breakpoint-down(md)
		margin-bottom: 40px
	&__title
		padding-left: 60px
		margin-bottom: 45px
		@include media-breakpoint-down(md)
			padding-left: 0
	&__swiper
		overflow: visible
		&-slide
			max-width: 626px
			height: 602px
			position: relative
			overflow: hidden
			border-radius: 50px
			text-decoration: none
			transition: $transition
			@include media-breakpoint-down(md)
				max-width: 400px
				max-height: 380px
				border-radius: 20px
			@include media-breakpoint-down(xs)
				max-width: 250px
				margin-right: 20px !important
			&-top
				display: flex
				align-items: flex-start
				@include media-breakpoint-down(md)
					flex-wrap: wrap
			&-btn
				margin-top: -18px
				@include media-breakpoint-down(md)
					margin-top: 0
					margin-left: 0
					margin-bottom: 0
			&-more
				display: none
				position: absolute
				border-radius: 50px
				left: 0
				bottom: 0
				height: calc(100% - 35px)
				background-color: #ecddfb
				z-index: 1
				overflow: auto
				padding: 28px 39px 29px
				@include media-breakpoint-down(md)
					padding: 15px
					border-radius: 20px
					height: calc(100% - 25px)
			.progress-bar
				height: 11px
				&__wrapper
					max-width: 269px
	&__slide
		&-text
			font-size: 18px
			line-height: 22px
			color: #333333
			margin-bottom: 23px
			p
				margin: 0
				margin-bottom: 23px
				&:last-child
					margin-bottom: 0
		&-imgs
			display: grid
			grid-template-columns: repeat(3,1fr)
			grid-gap: 23px
			margin-bottom: 20px
			@include media-breakpoint-down(md)
				grid-template-columns: repeat(1,1fr)
				grid-gap: 20px
		&-close
			margin-left: auto
			display: flex
		&-img
			border-radius: 10px
			background-color: #d9d9d9
			height: 134px
			overflow: hidden
			img
				width: 100%
				height: 100%
				object-fit: cover
		&-title
			margin-bottom: 75px
			font-weight: 700
			font-size: 53.6909px
			line-height: 96.52%
			color: #333333
			@include media-breakpoint-down(md)
				font-size: 30px
				line-height: 1.25
				margin-bottom: 15px
		&-qr
			width: 146px
			height: 146px
			display: flex
			align-items: center
			justify-content: center
			background-color: #fff
			border-radius: 20px
			overflow: hidden
			margin-top: auto
	&__content
		padding: 40px 51px 32px
		display: flex
		flex-direction: column
		height: 100%
		@include media-breakpoint-down(md)
			padding: 20px
	&__bg
		position: absolute
		z-index: -1
		left: 0
		top: 0
		width: 100%
		height: 100%
		display: flex
		align-items: flex-end
		border-radius: 50px
		overflow: hidden
		@include media-breakpoint-down(md)
			border-radius: 20px
		img
			width: 100%
			height: auto