.docs
	padding-top: 50px
	padding-bottom: 50px
	background-color: #fafafa
	margin-top: -40px
	&__container
		max-width: 1200px
		margin: 0 auto
		padding: 0 15px
	&__grid
		width: 100%
		max-width: 1640px
		margin: 0 auto
		display: grid
		grid-template-columns: repeat(2,1fr)
		grid-gap: 55px
		@include media-breakpoint-down(xl)
			grid-template-columns: repeat(1,1fr)
	&__col
	&__title
		margin-bottom: 60px
		@include media-breakpoint-down(md)
			margin-bottom: 40px
	&__list
		display: grid
		grid-template-columns: repeat(4,1fr)
		grid-gap: 40px
		@include media-breakpoint-down(md)
			grid-template-columns: repeat(2,1fr)
			grid-gap: 20px
		@include media-breakpoint-down(xs)
			grid-template-columns: repeat(1,1fr)
	&__item
		overflow: hidden
		background-color: #fff
		border-radius: 10px
		padding: 20px
		color: #333
		text-decoration: none
		transition: .3s ease-in-out
		&:hover,
		&:focus-visible
			color: #d7b0ff
	&__icon
		max-width: 60px
		margin-bottom: 20px
		img
			max-width: 100%
			height: auto
	&__text
		font-size: 18px