.team
	margin-bottom: 63px
	&__title
		margin-bottom: 41px
	&__grid
		display: grid
		grid-template-columns: repeat(6,1fr)
		grid-gap: 20px 33px
		@include media-breakpoint-down(xl)
			grid-template-columns: repeat(3,1fr)
			padding: 0
		@include media-breakpoint-down(md)
			grid-template-columns: repeat(2,1fr)
			grid-gap: 10px
		@include media-breakpoint-down(xs)
			grid-template-columns: repeat(1,1fr)
	&__item
		position: relative
	&__name
		font-weight: 700
		font-size: 17.311px
		line-height: 21px
		color: #333
		margin-bottom: 10px
	&__pos
		font-weight: 300
		font-size: 17.311px
		line-height: 21px
		color: #333
	&__img
		height: 308px
		position: relative
		border-radius: 10px
		overflow: hidden
		margin-bottom: 10px
		@include media-breakpoint-down(xxl)
			height: auto
		@include media-breakpoint-down(md)
			height: auto
		&::after
			position: absolute
			left: 0
			top: 0
			content: ''
			width: 100%
			height: 100%
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.95) -26.97%, rgba(0, 0, 0, 0) 44.52%)
			opacity: 0.95
		img
			width: 100%
			height: 100%
			object-fit: cover
			@include media-breakpoint-down(xxl)
				width: 100%
				height: auto
				object-fit: contain
	&__help
		border-radius: 20px
		overflow: hidden
		position: relative
		height: 356px
		padding: 15px 28px
		&-title
			font-weight: 700
			font-size: 53.6909px
			line-height: 96.52%
			text-align: center
			color: #333333
			margin-bottom: 35px
			@include media-breakpoint-down(xs)
				font-size: 40px
				line-height: 1.25
		&-qr
			width: 110px
			height: 110px
			display: flex
			align-items: center
			justify-content: center
			padding: 5px
			margin: 0 auto
			background-color: #fff
			border-radius: 20px
			overflow: hidden
			img
				max-width: 100%
				max-height: 100%
				width: auto
				height: auto
				object-fit: cover